doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='Chutipon')
        title Popbus Api Explorer
        script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js")
        block css
            // Bootstrap core CSS
            link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css')
            // Custom fonts for this template
            link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet', integrity='sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN', crossorigin='anonymous')
            // Custom styles for this template
            link(href='css/sb-admin.css', rel='stylesheet')
        block style
    body#page-top.fixed-nav.sticky-footer.bg-dark
        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
            a.navbar-brand(href='home') Popbus Api Explorer
            button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarResponsive.collapse.navbar-collapse
                ul#exampleAccordion.navbar-nav.navbar-sidenav
                    li.nav-item(data-toggle='tooltip', data-placement='right', title='Dashboard')
                        a.nav-link(href='home')
                            i.fa.fa-fw.fa-dashboard
                            span.nav-link-text Home
                    //
                        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
                        <a class="nav-link" href="charts.html">
                        <i class="fa fa-fw fa-area-chart"></i>
                        <span class="nav-link-text">Charts</span>
                        </a>
                        </li>
                    //
                        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
                        <a class="nav-link" href="users.html">
                        <i class="fa fa-fw fa-table"></i>
                        <span class="nav-link-text">Users</span>
                        </a>
                        </li>
                    li.nav-item(data-toggle='tooltip', data-placement='right', title='Components')
                        a.nav-link.nav-link-collapse.collapsed(data-toggle='collapse', href='#collapseComponents', data-parent='#exampleAccordion')
                            i.fa.fa-fw.fa-wrench
                            span.nav-link-text Monitor
                        ul#collapseComponents.sidenav-second-level.collapse
                            li
                                a(href='status') Status
                            li
                                a(href='explorer') Explorer
                            li
                                a(href="token") Token
                            //- li
                            //-     a(href='usersdb') Users
                            //- li
                            //-     a(href='genresdb') Genres
                            //- li
                            //-     a(href='locationdb') Location
                            //- li
                            //-     a(href='reviewdb') Review
                            //- li
                            //-     a(href='readLaterdb') ReadLater
                    //
                        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Example Pages">
                        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseExamplePages" data-parent="#exampleAccordion">
                        <i class="fa fa-fw fa-file"></i>
                        <span class="nav-link-text">Example Pages</span>
                        </a>
                        <ul class="sidenav-second-level collapse" id="collapseExamplePages">
                        <li>
                        <a href="login.html">Login Page</a>
                        </li>
                        <li>
                        <a href="register.html">Registration Page</a>
                        </li>
                        <li>
                        <a href="forgot-password.html">Forgot Password Page</a>
                        </li>
                        <li>
                        <a href="blank.html">Blank Page</a>
                        </li>
                        </ul>
                        </li>
                    //- li.nav-item(data-toggle='tooltip', data-placement='right', title='Menu Levels')
                    //-     a.nav-link.nav-link-collapse.collapsed(data-toggle='collapse', href='#collapseMulti', data-parent='#exampleAccordion')
                    //-         i.fa.fa-fw.fa-sitemap
                    //-         span.nav-link-text Requests
                    //-     ul#collapseMulti.sidenav-second-level.collapse
                    //-         li
                    //-             a(href='trend') Trend 
                    //-         //- li
                    //-         //-     a(href='user') User
                    //-         //- li
                    //-         //-     a(href='review') Review
                    //-         //- li
                    //-         //-     a(href='location') Location
                    //-         //- li
                    //-         //-     a(href='readLater') ReadLater
                    //-         //
                    //-             <li>
                    //-             <a href="#">Second Level Item</a>
                    //-             </li>
                    //-             <li>
                    //-             <a href="#">Second Level Item</a>
                    //-             </li>
                    //-         //
                    //-             <li>
                    //-             <a class="nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti2">Third Level</a>
                    //-             <ul class="sidenav-third-level collapse" id="collapseMulti2">
                    //-             <li>
                    //-             <a href="#">Third Level Item</a>
                    //-             </li>
                    //-             <li>
                    //-             <a href="#">Third Level Item</a>
                    //-             </li>
                    //-             <li>
                    //-             <a href="#">Third Level Item</a>
                    //-             </li>
                    //-             </ul>
                    //-             </li>
                ul.navbar-nav.sidenav-toggler
                    li.nav-item
                        a#sidenavToggler.nav-link.text-center
                            i.fa.fa-fw.fa-angle-left
                ul.navbar-nav.ml-auto
                    li.nav-item.dropdown
                        a#messagesDropdown.nav-link.dropdown-toggle.mr-lg-2(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                            i.fa.fa-fw.fa-envelope
                            span.d-lg-none
                                | Messages
                                span.badge.badge-pill.badge-primary 0 New
                            span.indicator.text-primary.d-none.d-lg-block
                                i.fa.fa-fw.fa-circle
                        .dropdown-menu(aria-labelledby='messagesDropdown')
                            h6.dropdown-header No New Messages:
                            .dropdown-divider
                            a.dropdown-item.small(href='#') View all messages
                    li.nav-item.dropdown
                        a#alertsDropdown.nav-link.dropdown-toggle.mr-lg-2(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                            i.fa.fa-fw.fa-bell
                            span.d-lg-none
                                | Alerts
                                span.badge.badge-pill.badge-warning 0 New
                            span.indicator.text-warning.d-none.d-lg-block
                                i.fa.fa-fw.fa-circle
                        .dropdown-menu(aria-labelledby='alertsDropdown')
                            h6.dropdown-header No New Alerts:
                            .dropdown-divider
                            a.dropdown-item.small(href='#') View all alerts
        .content-wrapper
            .container-fluid
                // Breadcrumbs
                ol.breadcrumb
                    li.breadcrumb-item
                        a(href='home') Dashboard
                    block breadcrumb
                    // <li class="breadcrumb-item active">Blank Page</li>
                .row
                    .col-12
                        block content
            // /.container-fluid
            // /.content-wrapper
            footer.sticky-footer
                .container
                    .text-center
                        small Copyright © Popbus Api Explorer 2017
            // Scroll to Top Button
            a.scroll-to-top.rounded(href='#page-top')
                i.fa.fa-angle-up
            // Bootstrap core JavaScript
            script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
            script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js')
            script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js')
            // Core plugin JavaScript
            script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')
            script(src='js/sb-admin.min.js')
            block script