html
    head
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css')
        // Custom fonts for this template
        link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet', integrity='sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN', crossorigin='anonymous')
    body
        .container
            .row
            .col-lg-12
                .card.mb-3
                    .card-header Token
                    .card-body
                        .row
                            form#form
                                .form-group.row
                                    label.col-sm-4.col-form-label(for='tel') tel
                                    .col-sm-8
                                        input.form-control(type='text', placeholder='tel', name='tel')
                                button(id=sendid).btn.btn-primary Submit
        
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js')
        // Core plugin JavaScript
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')
        script.
            $('#form').click(_ => {
                $.post('/get/token', $('#form').serialize()).then( data => {
                    alert(data);
                }).catch(err => {
                    alert(err.responseText);
                });
            });